*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  width: 420px;
  height: 6px;
}
.no-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px; /* Roundness of the thumb */
  background-color: #aaa; /* Color of the thumb */
}
.no-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Color of the thumb on hover */
}

/* custom scrollbar for IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: "420px";
  /* Firefox */
}

