<div style={{
  padding-top: 100%;
  position: relative;
  cursor: pointer;
  text-align: center;
}}>
  <img src="https://m.media-amazon.com/images/I/716Qlc98JFL._AC_UL320_.jpg" style={{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
    border: 0;
    overflow-clip-margin: content-box;
overflow: clip;
  }} />
</div>
<div style={{
      padding-right: 8px!important;
      padding-left: 8px!important;
      margin-bottom: 8px!important;
      color: #0F1111;
}}>
    <p style={{
          margin-top: 8px!important;
          font-size: 14px;
          line-height: 24px;
          font-weight: 400!important;
    }}>SanDisk 512GB Extreme microSDXC UHS-I Memory Card with Adapter - Up to 190MB/s, C10, U3, V30, 4K, 5K, A2, Micro SD Card - SDSQXAV-512G</p>
    <div style={{
          font-size: 14px!important;
          line-height: 20px!important;
          padding-top: 4px;
    }}>
      <div></div>
      <p>23793</p>
    </div>
    <div>
      <span style={{
        font-weight: 400!important;
      }}>
      <span style={{
            position: relative;
            top: -0.75em;
            font-size: 13px;
      }}>₹</span>
      <span style={{
            font-size: 28px;
      }}>3456</span>
      </span>
      <span style={{
            color: #565959!important;
      }}>
        <span style={{
          font-size: 14px!important;
          line-height: 20px!important;
        }}>New Price:</span>
        <span style={{
              font-size: 13px;
        }}>₹4567</span>
      </span>
      <span style={{
            font-size: 14px!important;
            line-height: 20px!important;
            color: #0F1111!important;
      }}>
          (40% off)
      </span>
      <div>
        <div style={{
              padding-top: 4px;
              font-size: 14px;
line-height: 20px;
color: #0F1111!important;
        }}>
            <span style={{
            }}>
              Get it By
            </span>
            <span style={{
              font-weight: 700!important;
            }}>
Tuesday, 31 October
            </span>
        </div>
        <div style={{
          color: #0F1111!important;
          font-size: 14px!important;
          line-height: 20px!important;
        }}>
FREE Delivery by Amazon
        </div>
    </div>